h1 {
  text-align: center;
}

.abc {
  display: flex;
  justify-content: center;
}

.xyz {
  display: flex;
  justify-content: center;
}

.pqr {
  display: flex;
  justify-content: center;
}

.box {
  border: 2px solid black;
  padding: 25px 30px;
}

input {
  width: 8px;
}

p {
  text-align: center;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
